@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Regular.subset.woff2") format(woff2), url("../font/Pretendard-Regular.subset.woff") format(woff);
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #EF94FE 0%, #EDB6F7 30%, #CD3BE7 100%);
    /*background-image: url("style/stone1.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    
    justify-content: center;
}



.tittle{
    margin-top: 0vh;
    width: 100vw;
    height: 11vh;
    background: linear-gradient(180deg, #D9D9D9 0%, #F285FB 50.52%, #D1CAD2 100%);
    position: fixed;
    display: inline-block;
    justify-content: center;
 } /*스크롤 아니고 고정되는*/

.upbox{
    position: fixed;
}

h6{
    font-size: 1rem;
    font-weight: 400;
    font-family: "Pretendard";
    text-align: center;
}


.photobox{
    width: 100vw;
    height: 45vh;
    margin-top: 12vh;
    margin-left: 0vw;

    position: fixed;
    display: flex;
    justify-content: center;
}

.pbox1{
    width: 40vw;
    height: 21vh;
    margin-top: 0vh;
    margin-left: 0vw;

    position: fixed;
    display: flex;
    justify-content: center;
}

.pbox2{
    width: 40vw;
    height:10vh;
    margin-top: 18vh;
    margin-left: 0vw;

    position: fixed;
    display: flex;
    justify-content: center;
}

.pbox3{
    width: 40vw;
    height:20vh;
    margin-top: 25vh;
    margin-right: 10vw;

    position: fixed;
    display: flex;
    justify-content: center;
}
.pbox4{
    width: 40vw;
    height:10vh;
    margin-top: 43vh;
    margin-left: 0vw;

    position: fixed;
    display: flex;
    justify-content: center;
}
.pbox5{
    width: 40vw;
    height:10vh;
    margin-top: 52vh;
    margin-left: 5vw;

    position: fixed;
    display: flex;
    justify-content: center;
}
.pbox6{
    width: 40vw;
    height:25vh;
    margin-top: 57vh;
    margin-left: 5vw;

    position: fixed;
    display: flex;
    justify-content: center;
}


#touchImage {
    /*width: 300px;
    height: 200px;*/
    cursor: pointer;
    transition: transform 1s ease;
  }

    /* 회전 애니메이션 정의 */
    @keyframes rotateImage {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(180deg);
        }
      }
  
      /* 회전 애니메이션 클래스 */
      .rotate {
        animation: rotateImage 3s forwards; /* 1초 동안 회전 애니메이션 적용 */
      }






a{
    /*text-decoration: none;*/
    color: inherit;
}


html {
    font-size: 12px;
}


/*t2{
    width: 20vw;
    height: 3vh;
    background-color: #fff;
    margin-left: 40vw;
    margin-top: 0;
    color: #F098FF;
}*/




/*.image:hover {
    width: 300px;
    height: auto;
    transform: rotate(45deg); /* 이미지를 45도 회전시킵니다. */



h1{
    font-size: 1rem;
    font-weight: 500;
    font-family: "Pretendard";
    text-align: center;
    line-height: 2;


}


p1{
    font-size: 1rem;
    font-weight: 500;
    font-family: "Pretendard";
    color: #fff;
    line-height: 163%;
    text-align: center;
}

.navigation{
    width: 80vw;
    height: 5vh;
    /*border: 1px solid #000;*/
    position: fixed;
      width: 80vw;
      /*background-color: #f2f2f2;*/
      margin-top: 80vh;
      padding-left: 10vw;
      z-index: 1;
      color: #fff;
}


.navigation1{
    width: 80vw;
    height: 5vh;
    /*border: 1px solid #000;*/
    position: fixed;
      width: 80vw;
      /*background-color: #f2f2f2;*/
      margin-top: 4vh;
      margin-left: 10vw;
      padding-left: 10vw;
      z-index: 1;
}

.textboxx1{

    width: 20vw;
    height: 4.5vh;
    background-color: #696969;
    border-radius: 1.7vw;
    color: #F098FF;
    margin-left: 8vw;
    display: inline-block;
    justify-content: center;
    padding: 0;

}
.textboxx2{

    width: 20vw;
    height: 4.5vh;
    background-color: #000;
    border-radius: 1.7vw;
    color: #fff;
    margin-left: 3vw;
    display: inline-block;
    justify-content: center;
    padding: 0;

}



.textbox{
 
    margin-left: 10vw;
    display: inline-block;
    justify-content: center;

}